.section {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-auto-rows: min-content;
  background-color: $color-grey-light-2;

  &__college {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 4rem;
    margin: 6rem 0;

    &-heading {
      font-family: $font-display;
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 1.4px;
      text-transform: uppercase;
    }

    &-logoBox {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      justify-items: center;
      align-items: center;

      @media only screen and (max-width: $bp-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        grid-gap: 3rem;
      }
    }

    &-logo {
      width: 10rem;
      &:not(:nth-child(3)) {
        width: 14rem;
      }
    }
  }

  &__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 55vh;
    color: $color-grey-dark-1;
    grid-column: full-start / full-end;
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, 1)), url('./background/about-1-small.jpg');
    background-size: cover;
    background-position: center center;

    @media only screen and (min-resolution: 192dpi) and (min-width: $bp-tablet) {
      background-image: linear-gradient(to right, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, 1)), url('./background/about-1.jpg');
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      padding: 2rem 1.5rem;
      background-image: linear-gradient(to right, rgba($color-grey-dark-1, .6), rgba($color-grey-dark-1, 1)), url('./background/about-1-small.jpg');
    }

    &-container {

      &--1 {
        padding: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        backdrop-filter: blur(1.5px);

        @media only screen and (max-width: $bp-mobile) {
          justify-items: start;
          padding: 3rem;
          backdrop-filter: blur(0);
        }
      }

      &--2 {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        backdrop-filter: blur(1.5px);
        color: $color-grey-light-2;

        @media only screen and (max-width: $bp-mobile) {
          backdrop-filter: blur(0);
        }
      }
    }

    &-paraph {
      font-size: 1.6rem;
      font-weight: 300;
      text-align: center;

      @media only screen and (max-width: $bp-mobile) {
        text-align: left;
        font-size: 1.8rem;
      }

      span {
        color: $color-grey-light-2;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }

  &__figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    grid-column: center-start / center-end;
    margin: 12rem 0;

    &-container {
      background-color: $color-grey-dark-1;
      color: $color-grey-light-2;
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 1.5rem;
      border-radius: 5px;
      box-shadow: 0 .3rem .6rem transparent;
      transition: .2s ease;

      @media only screen and (max-width: $bp-tablet) {
        &:last-child {
          grid-column: 1/-1;
          justify-self: center;
        }
      }

      @media only screen and (max-width: $bp-mobile) {
        padding: 2.5rem;
      }

      &:hover {
        box-shadow: 0 .3rem .6rem #000;
        transform: translateY(-.8rem);
      }
    }

    &-icon {
      width: 3.5rem !important;
      height: 3.5rem !important;
    }

    &-heading {
      font-size: 2.3rem;
      font-family: $font-display;
      font-weight: 500;
      letter-spacing: 2px;

      @media only screen and (max-width: $bp-mobile) {
        font-size: 2.5rem;
      }
    }

    &-text {
      text-align: center;
      font-size: 1.4rem;

      @media only screen and (max-width: $bp-mobile) {
        font-size: 1.5rem;
      }
    }
  }

  &__service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 55vh;
    grid-column: full-start / full-end;
    background-image: linear-gradient(to left, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, 1)), url('./background/serviceImage-2-small.jpg');
    background-size: cover;
    background-position: center;

    @media only screen and (min-resolution: 192dpi) and (min-width: $bp-tablet) {
      background-image: linear-gradient(to right, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, 1)), url('./background/serviceImage-2.jpg');
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      padding: 2rem 1.5rem;
      background-image: linear-gradient(to right, rgba($color-grey-dark-1, .7), rgba($color-grey-dark-1, 1)), url('./background/serviceImage-2-small.jpg');
    }

    &-container {

      &--1 {
        padding: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        align-content: center;
        justify-items: center;
        grid-column: 2/3;
        backdrop-filter: blur(1.5px);

        @media only screen and (max-width: $bp-mobile) {
          grid-column: 1/2;
          justify-items: start;
          padding: 3rem;
          backdrop-filter: blur(0);
        }
      }

      &--2 {
        padding: 3rem;
        display: grid;
        grid-template-columns: max-content;
        justify-content: center;
        align-items: center;
        color: $color-grey-light-2;
        backdrop-filter: blur(1.5px);
        // background-color: $color-grey-dark-1;
        // border-top: 1.5px solid $color-grey-dark-1;
        // border-bottom: 1.5px solid $color-grey-dark-1;
        grid-column: 1/2;
        grid-row: 1/2;

        @media only screen and (max-width: $bp-tablet) {
          grid-auto-rows: min-content;
          align-content: space-evenly;
        }

        @media only screen and (max-width: $bp-mobile) {
          grid-template-columns: 1fr;
          grid-row: 2/3;
          grid-gap: 1.5rem;
          backdrop-filter: blur(0);
        }

        p:nth-child(1) .section__service-icon{
          animation: fade-1 .5s ease-in infinite alternate forwards;
        }
        p:nth-child(2) .section__service-icon{
          animation: fade-1 .5s .15s ease-in infinite alternate forwards;
        }
        p:nth-child(3) .section__service-icon{
          animation: fade-1 .5s .25s ease-in infinite alternate forwards;
        }
        p:nth-child(4) .section__service-icon{
          animation: fade-1 .5s .35s ease-in infinite alternate forwards;
        }
      }
    }

    &-text {
      font-size: 2.2rem;
      font-weight: 400;
    }

    &-icon {
      margin-right: 1rem;
    }
  }

  &__product {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6rem;
    margin: 6rem 0;

    &-heading {
      justify-self: center;
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      font-family: $font-display;

      @media only screen and (max-width: $bp-mobile) {
        font-size: 2.8rem;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 3rem;

      .section__product-type:nth-child(1),
      .section__product-type:nth-child(2),
      .section__product-type:nth-child(4) {
        .viewBox .viewImgContainer {
          width: 35rem;
        }
      }

      .section__product-type:nth-child(6) .viewBox .viewImgContainer {
        width: 45rem;
      }
    }

    &-nav {
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-primary-dark;
      font-weight: 300;
      position: relative;
      justify-self: center;
      padding: .4rem .6rem;
      border-radius: 2px;
      -webkit-tap-highlight-color: transparent;
      transition: .2s;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-primary-dark;
        transform-origin: center;
        transition: .2s ease;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          transform: scaleX(0);
        }
      }

      &:hover {
        transform: translateY(-.5rem);
        background-color: $color-primary-dark;
        color: $color-grey-light-2;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          transform: translateY(0);
          background-color: transparent;
          color: $color-primary-dark;
        }

        &::after {
          visibility: hidden;
          @media only screen and (max-width: $bp-tablet), (hover:none) {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }

      &:active {
        transform: translateY(0) scale(.95);
        box-shadow: 0 1px 2px #000;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          transform: translateY(0) scale(1);
          box-shadow: none;
        }
      }

    }

    &-type {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 25rem;
      grid-auto-rows: min-content;
      grid-gap: 2rem;
      box-shadow: 0 0 .2rem $color-grey-dark-1;
      background-color: #fff;

      @media only screen and (max-width: $bp-tablet) {
        &:last-child {
          grid-column: 1/-1;
          justify-self: center;
          width: 48%;
        }
      }

      @media only screen and (max-width: $bp-mobile) {
        &:last-child {
          width: 100%;
        }
      }

      .cta-mobileBox,
      .cta-mobileBox__overlay {
        display: none;
      }

      @media only screen and (max-width: $bp-mobile) {
        .cta-mobileBox {
          position: fixed;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          grid-gap: 1.5rem;
          width: 80vw;
          background-color: $color-grey-light-2;
          padding: 1.5rem;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          z-index: 10;
          transition: .1s ease;

          &__span {
            width: 5rem;
            height: .5rem;
            background-color: rgba($color-grey-dark-2, .4);
            border-radius: 5px;
          }

          &__close {
            position: absolute;
            top: -9rem;
            left: 50%;
            transform: translate(-50%, 100%);
            opacity: 0;
            visibility: hidden;
            font-size: 5rem;
            font-weight: 200;
            color: $color-grey-light-2;
            z-index: -1;
            transition: .1s .2s ease, .1s ease visibility;
          }

          &__nav {
            width: 100%;
            padding: 1rem 0;
            background-color: rgba($color-primary, .7);
            transition: .1s ease;

            &:active {
              transform: scale(.95);
            }
          }

          &__WA,
          &__WA:visited {
            text-decoration: none;
            font-family: $font-display;
            font-size: 1.6rem;
            font-weight: 600;
            color: $color-grey-dark-1;
            letter-spacing: 1.2px;
            display: grid;
            grid-template-columns: min-content max-content;
            justify-content: center;
            align-items: center;
            grid-gap: 1.5rem;
            -webkit-tap-highlight-color: transparent;
          }

          &__icon {
            width: 3rem;
            height: 3rem;
          }
        }

        .cta-mobileBox__overlay {
          display: inline-block;
          position: fixed;
          width: 200vw;
          height: 200vh;
          background-color: rgba(#000, .7);
          backdrop-filter: blur(1.5px);
          top: 0;
          left: 0;
          z-index: 9;
          opacity: 0;
          visibility: hidden;
        }

        .translate {
          transform: translate(-50%, 0);
        }

        .fadeInBtn {
          transform: translate(-50%, 0);
          opacity: 1;
          visibility: visible;
        }

        .overlayEffect {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-boxImg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      &:hover .view {
        visibility: visible;
        opacity: 1;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          display: none;
        }
      }

      &:hover .section__product-img {
        transform: scale(1.15);
        @media only screen and (max-width: $bp-tablet), (hover:none) {
          transform: scale(1);
        }
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: .3s;
    }

    &-list {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      //padding: 0 5rem;
    }

    &-listItem {
      font-size: 1.4rem;
      font-weight: 300;
      width: 100%;
      text-align: center;
      color: $color-primary-dark;
      padding: 1rem 0;

      @media only screen and (max-width: $bp-mobile){
        font-size: 1.6rem;
      }

      &:nth-child(odd) {
        background-color: $color-primary;
      }

      &:first-child {
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    &-cta {
      background-color: $color-grey-dark-1;
      padding: 1.6rem 0;
      text-align: center;
      border: 0;
      box-shadow: none;
      outline: none;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transform: scale(1);
      transition: .2s ease background-color, .1s ease transform;

        &--desktop,
        &--desktop:visited {
          text-decoration: none;
          @media only screen and (min-width: $bp-mobile) {
            display: inline-block;
          }
          @media only screen and (max-width: $bp-mobile) {
            display: none;
          }
        }

        &--mobile {
          @media only screen and (min-width: $bp-mobile) {
            display: none;
          }
          @media only screen and (max-width: $bp-mobile) {
            display: inline-block;
          }
        }

        span {
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.6px;
          color: $color-grey-light-2;
          font-size: 1.4rem;

          @media only screen and (max-width: $bp-mobile) {
            font-size: 1.5rem;
          }
        }

      &:hover {
        background-color: #000;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          background-color: $color-grey-dark-1;
        }
      }

      &:active {
        transform: scale(.95);
      }
    }

    @media only screen and (max-width: $bp-tablet), (hover:none) {
      .cta-viewMenu {
        background-color: rgba(#000, .8);
        color: rgba($color-grey-light-2, .6);
        padding: .5rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        position: absolute;
        bottom: 0;
        right: 0;

        &__icon {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: .5rem;
          fill: rgba($color-grey-light-2, .6);
        }
      }
    }

  }

  &__map {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, .95)), url('./background/map1-small.jpg');
  background-size: cover;
  background-position-y: -20rem;
  padding: 6rem 0;
  position: relative;
  z-index: 2;

  @media only screen and (min-resolution: 192dpi) and (min-width: $bp-tablet) {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, .5), rgba($color-grey-dark-1, .95)), url('./background/map1.jpg');
  }

  @media only screen and (max-width: $bp-mobile) {
    background-position-y: 0;
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, .6), rgba($color-grey-dark-1, .95)), url('./background/map1-small.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
  }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1.5px);
      z-index: -1;
    }

    &-icon {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: .5rem;
    }

    &-cta,
    &-cta:visited {
      text-decoration: none;
      color: $color-grey-light-2;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: $font-display;
      letter-spacing: 1.6px;
      display: flex;
      align-items: center;
      padding: .3rem .5rem;
      border: 1.2px solid $color-grey-light-2;
      border-radius: 2px;
      position: relative;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: .2s ease;

      @media only screen and (max-width: $bp-tablet), (hover:none) {
        background-color: $color-grey-light-2;
        color: $color-primary-dark;
        padding: .4rem .6rem;
        font-weight: 500;
        transition: .1s ease;
      }

      &:hover {
        transform: translateY(-.5rem);
        background-color: $color-grey-light-2;
        color: $color-primary-dark;
        box-shadow: 0 .4rem .6rem $color-grey-dark-1;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          box-shadow: none;
          transform: translateY(0);
        }
      }

      &:active {
        transform: translateY(0) scale(.95);
        box-shadow: 0 .3rem .3rem $color-grey-dark-1;

        @media only screen and (max-width: $bp-tablet), (hover:none) {
          transform: translateY(0) scale(.90);
          box-shadow: none;
        }
      }
    }
  }

  &__gallery {
    grid-column: full-start / full-end;
    padding: 6rem 5rem;

    &-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6rem;
    text-align: center;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2.8rem;
      margin-bottom: 5rem;
      }
    }

    &-img {
      width: 35rem;
      height: 35rem;
      object-fit: cover;
      box-shadow: 0 0 6px $color-grey-dark-1;
      border-radius: 2px;

      @media only screen and (max-width: $bp-mobile) {
        width: 100%;
        border-radius: 0;
      }
    }

    @media only screen and (min-width: $bp-tablet) {
      &-carouselTablet,
      &-carouselMobile {
        display: none;
      }
    }

    @media only screen and (max-width: $bp-tablet) {
      &-carouselDesktop {
        display: none;
      }
      &-carouselMobile {
        display: none;
      }
    }

    @media only screen and (max-width: $bp-mobile) {
      &-carouselDesktop {
        display: none;
      }
      &-carouselTablet {
        display: none;
      }
      &-carouselMobile {
        display: inherit;
      }
    }
  }
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(#000, .7);
  backdrop-filter: blur(4.5px);
  color: #fff;
  font-size: 1.4rem;
  font-family: $font-display;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;

  .viewIcon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}


.viewBox {
  width: 90vw;
  height: 95vh;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(2rem);
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
  z-index: 5;

  @media only screen and (max-width: $bp-mobile) {
    width: 100vw;
    border-radius: 2px;

    &::after {
      content: '';
      position: fixed;
      width: 200vw;
      height: 200vh;
      background-color: rgba(#000, .7);
      z-index: -2;
    }
  }

  .closeBtn {
    font-size: 4rem;
    font-weight: 500;
    color: $color-grey-light-2;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 4rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .2s;

    @media only screen and (max-width: $bp-mobile) {
      margin: 0 3rem;
      font-size: 5rem;
      font-weight: 300;
    }

    &:hover {
      text-shadow: 0 0 .2rem $color-grey-light-2;
    }
  }

  .viewImgContainer {
    width: 30rem;

    .viewImg {
      width: 100%;
      height: 100%;
    }
  }
}

.fadeIn {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
  visibility: visible;
}
